<script>
    import { fly } from "svelte/transition";
    import { onMount } from "svelte";

    let isVisible = false;
    onMount(() => {
        isVisible = true;
    });
</script>

<style>
    .has-image-centered {
        margin-left: auto;
        margin-right: auto;
    }
</style>

{#if isVisible}
    <div transition:fly={{ y: 100, duration:500 }} class="has-image-centered">
        <img
            class="has-image-centered"
            height="80%"
            src="EndGame.png"
            style="background-color:#FFFFFF;"
            alt="pict" />
    </div>
{/if}
